body {
  background: black;
  color: white;
}

h1,
h3 {
  font-family: "Limelight", cursive;
}

p,
h2 {
  font-family: var(--main-font);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
  font-weight: 300;
  transition: all 100ms ease-in-out;
}

hr {
  opacity: 100;
}

.img-fluid {
  max-width: 90%;
}

.prime-page h1 {
  font-size: 72px;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.prime-page-link {
  position: absolute;
  top: 58%;
}

.see-portfolio-link {
  position: relative;
  top: -150px;
  left: 1%;
  text-transform: capitalize;
}

a:hover {
  color: white;
  text-shadow: 0px 0px 20px white;
}

.prime-page h2 {
  font-size: 21px;
  position: absolute;
  top: 46%;
  width: 100%;
}

.main-button {
  background: white;
  color: black;
  padding: 20px 25px;
  border-radius: 30px;
  text-transform: capitalize;
}

.main-button:hover {
  color: black;
}

.button:hover {
  box-shadow: 0px 0px 25px 1px rgb(184, 184, 184);
}

.backgroud-img {
  width: 100%;
  opacity: 34%;
  min-height: 790px;
}

.my-photo {
  max-height: 600px;
  min-width: 450px;
}

.container {
  margin-top: 80px;
}

.description {
  max-width: 500px;
  margin-top: 40px;
}

.arrow {
  font-size: 27px;
  line-height: 0;
}

:root {
  --main-font: "Poppins", sans-serif;
}

.secondary-button {
  padding: 15px 26px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 14px;
  margin: 4px;
  text-transform: capitalize;
}

.description h1 {
  font-size: 50px;
}

.work-page h1,
.contact-page h1 {
  font-size: 60px;
}

.contact-page p,
i {
  font-family: "Limelight", cursive;
  font-size: 20px;
}

.navbar {
  background: black !important;
  font-weight: 300;
}

.nav-link {
  padding: 10px 40px !important;
}

.navbar-collapse {
  flex-grow: 0;
}

footer a {
  font-size: 20px;
}

footer i {
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .prime-page h2 {
    top: 58%;
  }

  .prime-page-link {
    top: 70%;
  }

  .container {
    margin-top: 0;
  }

  body,
  .description {
    text-align: center !important;
  }

  .my-photo {
    margin-top: 60px;
  }

  .contact-page {
    text-align: center;
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  .prime-page h2 {
    top: 52%;
    font-size: 16px;
    padding: 0 50px;
    line-height: 1.5;
  }

  .prime-page-link {
    top: 70%;
    font-size: 16;
  }
}
