body {
  background: black;
  color: white;
}

h1 {
  font-size: 60px;
}

h1,
h3 {
  font-family: var(--heading-font);
}

p,
h2 {
  font-family: var(--main-font);
}

h2 {
  font-size: 21px;
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
}

a img {
  transition: var(--transition);
}

hr {
  opacity: 100;
}

.navbar {
  background: black !important;
}

.nav-link {
  padding: 10px 40px !important;
}

.navbar-collapse {
  flex-grow: 0;
}

.container {
  margin-top: 50px;
}

.backgroud-img {
  width: 100%;
  opacity: 34%;
  min-height: 790px;
}

.prime-page h1 {
  font-size: 72px;
  position: absolute;
  top: 35%;
  width: 100%;
}

.prime-page h2 {
  position: absolute;
  top: 46%;
  width: 100%;
}

.main-button {
  background: white;
  color: black;
  padding: 20px 25px;
  border-radius: 30px;
  text-transform: capitalize;
}

.prime-page-button {
  position: absolute;
  top: 58%;
}

.see-portfolio-link {
  position: relative;
  top: -150px;
  left: 1%;
  text-transform: capitalize;
}

.arrow {
  font-size: 27px;
  line-height: 0;
}

.description {
  max-width: 550px;
}

.description h1 {
  font-size: 43px;
}

.secondary-button {
  padding: 15px 26px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 14px;
  margin: 4px;
  text-transform: capitalize;
}

.img-fluid {
  max-width: 90%;
}

.my-photo {
  max-height: 600px;
  min-width: 420px;
}

.contact-page p,
i {
  font-family: var(--heading-font);
  font-size: 20px;
}

footer a {
  font-size: 20px;
}

footer i {
  font-size: 26px;
}

a:hover {
  color: white;
  text-shadow: 0px 0px 20px white;
  transition: var(--transition);
}

.button:hover {
  box-shadow: 0px 0px 25px 1px rgb(184, 184, 184);
}

.main-button:hover {
  color: black;
}

:root {
  --main-font: "Poppins", sans-serif;
  --heading-font: "Limelight", cursive;
  --transition: all 100ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .prime-page h2 {
    top: 58%;
  }

  .prime-page-button {
    top: 70%;
  }

  body,
  .description {
    text-align: center !important;
  }

  .img-fluid {
    margin: 60px 0 60px;
  }

  .text-end {
    text-align: center !important;
  }
  .my-photo {
    min-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .prime-page h1 {
    font-size: 56px;
  }

  .prime-page h2 {
    top: 53%;
    font-size: 16px;
    padding: 0 50px;
    line-height: 1.5;
  }

  .prime-page-button {
    font-size: 16;
  }
}
