body {
  background: black;
}

h1,
h2 {
  font-family: "Limelight", cursive;
  color: white;
}

p {
  font-family: var(--main-font);
  font-weight: 300;
  color: white;
}

.prime-page h1 {
  font-size: 72px;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.see-portfolio-link {
  color: white;
  text-decoration: none;
  position: absolute;
  text-align: center;
  top: 92%;
  left: 46%;
  text-shadow: 0px 0px 20px rgb(184, 184, 184);
  font-family: var(--main-font);
  font-weight: 300;
}

a:hover {
  color: white;
  text-shadow: 0px 0px 20px white;
}

.project-photo {
  max-width: 370px;
  box-shadow: 0px 0px 5px 1px rgb(184, 184, 184);
}

.prime-page h2 {
  font-size: 21px;
  position: absolute;
  top: 46%;
  width: 100%;
  font-family: var(--main-font);
  font-weight: 300;
  text-align: center;
}

.prime-page a {
  background: white;
  display: block;
  color: black;
  padding: 20px 25px;
  border-radius: 30px;
  text-decoration: none;
  position: absolute;
  top: 58%;
  left: 46%;
  font-family: var(--main-font);
  font-weight: 300;
  text-transform: capitalize;
}

.backgroud-img {
  width: 100%;
  opacity: 34%;
  min-height: 790px;
}

.container {
  margin-top: 100px;
}

.weather-app {
  max-width: 480px;
  margin-top: 90px;
  text-align: right;
}

.plant-based-page {
  max-width: 480px;
  margin-top: 90px;
  text-align: left;
  padding: 0 0 0 35px;
}

.arrow {
  font-size: 27px;
  line-height: 0;
}

:root {
  --main-font: "Poppins", sans-serif;
}

.project-link {
  color: white;
  padding: 12px 26px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 14px;
  margin: 4px;
}

.about-me h1 {
  font-size: 50px;
}

.about-me h2 {
  font-family: var(--main-font);
  font-size: 19px;
  padding: 0 0 20px;
}

.about-me a {
  background: white;
  color: black;
  padding: 19px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 14px;
}

.my-photo {
  max-width: 450px;
  margin: 30px;
}
.about-me {
      max-width: 500px;
}

@media screen and (max-width: 768px) {
  .prime-page h2 {
    top: 58%;
  }

  .prime-page a {
    top: 71%;
    left: 41%;
  }

  .container {
    margin-top: 1px;
  }

  .weather-app,
  .plant-based-page {
    text-align: center;
  }

  .plant-based-page {
    padding: 0;
  }

  .about-me {
    text-align: center;
  }

  .my-photo {
    margin-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  .prime-page h2 {
    top: 52%;
    font-size: 16px;
    padding: 0 50px;
    line-height: 1.5;
  }

  .prime-page a {
    top: 70%;
    left: 33%;
    font-size: 16px;
  }
}
